.featured-links__button{
  // bg-black text-sm text-white rounded-full py-2 px-5 me-auto
  background-color: black;
  font-size: 0.875rem;
  color:white;
  border-radius: 25px;
  padding: 0.5rem 1.25rem;
  margin-right: auto;
}


.footer__links-icons{
  border-radius: 50%;
  padding: .30rem;
  height: 30px;
  width: 30px;
  border: 1px solid #DFDFDF;
  color: gray;
  &:hover{
    background-color: lightgray;
  }
}

.footer__links-square-icons{
   border-radius: 4px;
   padding: .30rem;
   width: auto;
   height: 2rem;
   border: 1px solid #DFDFDF;
}
