@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  /* border: 1px solid rgb(255, 88, 88); */
}

body {
  font-family: 'Noto Sans', sans-serif;
}


ul{
  padding: 0;
  margin: 0;
}

.featured-links__button{
  background-color: black;
  font-size: 0.875rem;
  color:white;
  border-radius: 25px;
  padding: 0.5rem 1.25rem;
  margin-right: auto;
}


.footer__links-icons{
  border-radius: 50%;
  padding: .30rem;
  height: 30px;
  width: 30px;
  border: 1px solid #DFDFDF;
  color: gray;
}
.footer__links-icons:hover{
  background-color: lightgray;
}

.footer__links-square-icons{
   border-radius: 4px;
   padding: .30rem;
   width: auto;
   height: 2rem;
   border: 1px solid #DFDFDF;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
